@charset "utf-8";

    /*Reset da Página*/
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: none;
}

    /*Margem Página*/
body{
    margin-right: 150px;
    margin-left: 150px;
}
    /*-------------*/


    /*Estilo Menu Suspenso*/
table.MenuSuperior{
    background-color: gray;
}

table.MenuSuperior tr td{
    width: 400px;
    height: 30px;
    padding: 3px 0px;
    text-align: center;
}

table.MenuSuperior tr td a{
    color: white;
}

a:link{
    text-decoration: none;
}

table.MenuSuperior tr td a:hover{
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}
    /*-------------*/


    /*Estilo Banner*/
div.poster table tr td{
    width: 400px;
}

    /*Icones Sociais*/
div.poster table tr td#IconesSociais{
    text-align: center;
}

    /*Margem Numero*/
div.poster table tr td#Numero p{
    margin-left: 70px;
}

hr{
    border: 2px solid gray;
}


    /*Confi Float*/
div.formulario form{
    float: left;
}

div.Foto{
    float: right;
    margin: 10px 50px 0px 0px;
}

div.formulario{
    overflow: hidden;
}
    /*--------*/

    
div.formulario h2{
    font-family: Georgia;
    font-size: 28px;
    font-style: italic;
    text-decoration: underline;
}

    /*Estilo do campo input*/
div.formulario table tr td input{
    border: 1px solid black;
    width: 400px;
    height: 20px;
}

  /*Distancia tr's*/
div.formulario table tr{
    height: 40px;
}

div.formulario table ::placeholder{
    color: gray;
}

    /*Estilo textarea*/
div.formulario textarea{
    border: 1px solid black;
    width: 455px;
    height: 100px;
    resize: none;
}

div.formulario table textarea ::placeholder{
    color: gray;
}

    /*Estilo botões*/
div.formulario table input.botao{
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    width: 50px;
}

    /*Efeito mouse*/
div.formulario table input.botao:hover{
    background-color: black;
    color: white;
}

div.Foto img{
    border-radius: 4px;
}